<template>
  <div class="from">
    <textarea v-model="body"></textarea>
  </div>
</template>

<script>
  export default {
    name: 'Textarea',
    // Post body comes in as prop from parent component
    props: ['body']
  }
</script>
