<template>
  <div class="header">
    <router-link :to="{ name: 'Home' }">Home</router-link>
    <router-link :to="{ name: 'Test' }">Test</router-link>
    <router-link :to="{ name: 'Posts' }">Posts</router-link>
    <router-link :to="{ name: 'PostsCreate' }">Create post</router-link>
  </div>
</template>

<script>
  export default {
    name: 'HeaderMenu'
  }
</script>

<style type="text/css" scoped lang="scss">
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: green;
    color: white;

    a {
      color: white;
      border: 5px solid transparent;
    }
  }
</style>
