<template>
  <div class="test">
    <textarea v-model="placeholder"></textarea>
    <div>Placeholder: <p class="user-text">{{ placeholder }}</p></div>

    <textarea v-model="message" :placeholder="placeholder"></textarea>
    <div>Exited html: <p class="user-text">{{ message }}</p></div>

    <textarea v-model="message" :placeholder="placeholder"></textarea>
    <div>Not exited html: <p class="user-text" v-html="message"></p></div>
  </div>
</template>

<script>
  export default {
    name: 'Test',
    data () {
      return {
        placeholder: 'Placeholder for next two..',
        message: ''
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .test {
    color: green;

    .user-text {
      color: red
    }
  }
</style>
