<!-- Disabled to load it in dynamically -->
<!-- <template src="./create.html"></template> -->

<script>
  import Post from '@/models/Post'
  import ComponentLoader from '@/extensions/ComponentLoader'

  export default {
    name: 'Posts',

    components: {
      // Load PostForm component async from given theme and given component
      // async loading gives tons of other features
      'PostForm': () => ({
        component: ComponentLoader.load('theme1', 'components/Post/Form')
        // A component to use while the async component is loading
        // loading: LoadingComp,
        // A component to use if the load fails
        // error: ErrorComp,
        // Delay before showing the loading component. Default: 200ms.
        // delay: 200
        // The error component will be displayed if a timeout is
        // provided and exceeded. Default: Infinity.
        // timeout: 3000
      })
    },
    // Load theme based template
    template: ComponentLoader.loadTemplete('default', 'create.html'),
    data () {
      return {
        post: new Post()
      }
    }
  }
</script>

