<template>
  <div class="form">
    <form>
      <div>
        Title <br />
        <input type="text" placeholder="Title.." v-model="post.title">
      </div>
      <div>
        Body <br />
        <textarea placeholder="Body.." v-model="post.body"></textarea>
      </div>
      <button v-if="!post.id" type="button" @click="post.save()">Create new post</button>
      <button v-if="post.id" type="button" @click="post.save()">Update post</button>
    </form>
    <div>
      <h1>Preview in default theme:</h1>
      <div class="preview">
        <h2>{{ post.title }}</h2>
        <pre>{{ post.body }}</pre>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Posts',
    // Post comes in as prop from parent component
    props: ['post']
  }
</script>

<style type="text/css">
  .preview {
    display: inline-block;
    border: 1px solid grey;
    color: red;
  }
</style>
