<template>
  <div class="posts">
    <h1>Listing of all posts</h1>
    <div class="post" v-for="post in $store.state.posts">
      <router-link class="title" :to="{ name:'PostsView', params: { id: post.id }}" >
        <p>{{ post.title }}</p>
      </router-link>
      <button class="danger" @click="post.destroy()">
        Delete
      </button>
      <router-link class="warning" :to="{ name: 'PostsUpdate', params: {id: post.id}}">
        Edit
      </router-link>
    </div>
  </div>
</template>

<script>
  import Post from '@/models/Post'

  export default {
    name: 'Posts',
    created () {
      // Get all posts and put them into storage
      Post.all()
    }
  }
</script>

<!--
  Can use SCSS, LESS, CSS (default) styling language
  scoped scopes CSS only to current component
-->
<style type="text/css" lang="scss" scoped>
  .post {
    display: inline-block;
    color: white;
    background-color: green;
    border: 5px solid grey;
    .title {
      color: white;
    }
    .danger {
      background-color: red;
      color: white;
    }

    .warning {
      background-color: yellow;
    }
  }
</style>
