<template>
  <div class="thank-you">
    <h3>Thank you for posting! You will be redirected in {{ seconds }} seconds</h3>
  </div>
</template>

<script>
  export default {
    name: 'Posts',
    created () {
      this.interval = setInterval(() => {
        this.seconds--
        if (this.seconds <= 0) {
          if (!this.$route.params.id) {
            this.$router.push({name: 'Home'})
          }
          this.$router.push({name: 'PostsView', params: { id: this.$route.params.id }})
        }
      }, 1000)
    },
    data () {
      return {
        seconds: 5,
        interval: null
      }
    },
    beforeDestroy () {
      clearInterval(this.interval)
    }
  }
</script>
