<template>
  <div class="update">
    <h1>Update existing post</h1>
    <PostForm :post="$store.state.post"/>
  </div>
</template>

<script>
  import Post from '@/models/Post'
  import Form from './Form'

  export default {
    name: 'Posts',
    components: {
      'PostForm': Form
    },
    created () {
      // Get one post and put it into storage
      Post.one(this.$route.params.id)
    }
  }
</script>
