<template>
  <div class="post">
    <div v-if="$store.state.post">
      <h2>{{ $store.state.post.title }}</h2>
      <pre>{{ $store.state.post.body }}</pre>
    </div>
  </div>
</template>

<script>
  import Post from '@/models/Post'

  export default {
    name: 'Post',
    created () {
      // Get one post and put it into storage
      Post.one(this.$route.params.id)
    }
  }
</script>

<style type="text/css" scoped>
  .post {
    display: inline-block;
    color: white;
    background-color: green;
    border: 5px solid grey;
  }
</style>
