<template>
  <div id="app">
    <HeaderMenu></Headermenu>
    <router-view></router-view>
  </div>
</template>

<script>
  import HeaderMenu from '@/themes/default/components/HeaderMenu.vue'

  export default {
    name: 'app',

    components: {
      'HeaderMenu': HeaderMenu
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
